.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #11111100;
}

.logo{
    position: fixed;
    left: 20px;
    width: 80px;
}

.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}