.row{
    margin-left: 20px;
    color: #fff;
    align-items: center;
    flex-direction: column;
}

.posters{
    display: flex;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
}.posters::-webkit-scrollbar{
    display: none;
}


.poster{
    max-height: 400px;
    margin-right: 10px;
    cursor: pointer;
    transition: 500ms;
}.poster:hover{
    transform: scale(1.08);
    transition: 500ms;
}


.smallPoster{
    max-height: 300px;
    margin-right: 15px;
    cursor: pointer;
    transition: 500ms;
}.smallPoster:hover{
    transform: scale(1.08);
    transition: 500ms;
}


.youtubeContainer{
    padding: 1rem;
}
