.row{
    margin-left: 20px;
    color: #fff;

}

.posters{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}.posters::-webkit-scrollbar{
    display: none;
}


.poster{
    max-height: 400px;
    margin-right: 10px;
    cursor: pointer;
    transition: 500ms;
}.poster:hover{
    transform: scale(1.08);
    transition: 500ms;
}


.smallPoster{
    max-height: 300px;
    margin-right: 15px;
    cursor: pointer;
    transition: 500ms;
}.smallPoster:hover{
    transform: scale(1.08);
    transition: 500ms;
}
